<div class="container">
  <div id="#profile-pic" style="text-align: center;">
    <img
      src="#profile-pic"
      width="250"
      height="200"
      class="rounded-circle shadow-4-strong"
    />
  </div>
  <br />
  <div id="#experience">
    <h3>Experience</h3>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div
              ><img
                src="https://avatars.githubusercontent.com/u/34166451?s=200&v=4"
                width="70"
                height="70"
            /></div>
            <div style="padding-left: 10px">
              <span>
                <h5>
                  Application Engineer II
                  <span class="badge text-bg-success" style="margin-right: 5px"
                    ><i>Java</i></span
                  >
                  <span class="badge text-bg-success" style="margin-right: 5px"
                    ><i>Python</i></span
                  >
                  <span class="badge text-bg-success" style="margin-right: 5px"
                    ><i>AWS</i></span
                  >
                  <span class="badge text-bg-success" style="margin-right: 5px"
                    ><i>Scala</i></span
                  >
                  <span class="badge text-bg-success" style="margin-right: 5px"
                    ><i>Angular</i></span
                  >
                </h5>
              </span>
              <h6>Vanguard</h6>
              <h6>
                <i>May 2021 - <b>Present</b></i>
              </h6>
            </div>
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Industry: Financial Services<br />
            Description: <br />
            <ul>
              <li>
                Developed and maintained a web application using Angular 11,
                HTML, CSS, and JavaScript.
              </li>
              <li>
                Developed and maintained a web application using Angular 11,
                HTML, CSS, and JavaScript.
              </li>
              <li>
                Developed and maintained a web application using Angular 11,
                HTML, CSS, and JavaScript.
              </li>
              <li>
                Developed and maintained a web application using Angular 11,
                HTML, CSS, and JavaScript.
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <br />
  <div id="#education">
    <h3>Education</h3>
  </div>
  <br />
  <div id="#certification">
    <h3>Certification</h3>
  </div>
  <br />
  <div id="#projects">
    <h3>Skills</h3>
  </div>
</div>
