
.navbar-nav .nav-item.active {
    background-color: #007bff; /* Change to the color you prefer */
  }
  
  .navbar-nav .nav-item.active a {
    color: #fff; /* Change to the text color you prefer */
    font-weight: bold; /* Add any other styling as needed */
  }
  
  .nav-link {
      cursor: pointer;
    }
    