<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="height: 100px;">
      <div class="container-fluid bg-info">
        <a class="navbar-brand" href="#">Richard Khan</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" [routerLink]="['home']" routerLinkActive="active">
              <a class="nav-link" title="Projects">Home</a>
            </li>
            <li class="nav-item" [routerLink]="['resume']" routerLinkActive="active">
                <a class="nav-link" title="Projects">Resume</a>
              </li>
              <li class="nav-item" [routerLink]="['projects']" routerLinkActive="active">
                <a class="nav-link" title="Projects">Projects</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>